* {
    /* border: 1px solid white; */
    padding: 0%;
    margin: 0%;
 
}


body {
background-color: rgb(186, 195, 207);
height: 150vh;
width: 100vw;
display: flex;
flex-direction: column;

}

header {
    background-color: rgb(64, 199, 132);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1 {
    font-size: 2rem;
    padding: 5%;
}

.headerBtns {
    padding: 3%;
    width: 100vw;
   display: flex;
   justify-content: space-evenly;
  
 
  
}
.headerBtns button{ 
background-color: transparent;
padding: 5px  20px;
border-radius: 50px;
}

.headerBtns button:hover {
    background-color: azure;

}

.whatFor {
    display: flex;

}

.whatFor h2 {
    padding: 10%;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.317);
    overflow: auto;
}

.whatFor p {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding: 5%;
    overflow: auto;
}



.howToSetup {
    display: flex;
    flex-direction: column;

}


.howToSetup h4  {
    background-color: aquamarine;
    display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.3rem;
 padding: 5%;

}


.howToSetup p {
    display: flex;
    flex-direction: column;
    padding: 7%;
    text-align: center;
    font-size: 1.3rem;

}

.getPlaying  {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding: 5%;

}

.inputBar {
    display: flex;
    justify-content: center;
    padding: 10%;
    justify-content: space-evenly;

}


.tempo {
    display: flex;
    flex-direction: column;
}

.showTempo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tempoImput {
    display: flex;
    justify-content: center;
    flex: 1;

}

.tempoImput button {
 margin: 2px 10px;
 width: 40px;
 border-radius: 40px;

}